:root {
  --primary-color: #ffff;
  --tercially-color: #001f00;
  --semi-tercially: #386138;
  --hero-focus: #8bff8b;
  --btn-color-hero: #ff6638;
  --btn-hover-hero: #f16439;
  --products-color: #666666;
}

@media (max-width: 1200px) {
  .projects-img {
    width: 300px;
    height: 400px;
    border-radius: 30px;
  }
  .clients {
    width: 500px;
    position: relative;
    margin: 0 auto;
    height: 850px;
    border: 1px solid red;
  }
  .slide-client {
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    position: absolute;
  }
}
@media (max-width: 1000px) {
  .own {
    width: 50rem;
  }
  .help {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .help-head,
  .help-dis {
    text-align: center;
  }
  .partners {
    width: 50rem;
  }
  .installation {
    width: 60rem;
  }
  .slide-imgs-only,
  .artificial-in-small {
    display: block;
  }

  .about,
  .features,
  .slider-container {
    display: none;
  }
  .help-input-cell {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .ranges {
    margin-left: 0;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .footer-icons {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .footer-icons-cell {
    gap: 20px;
  }
  .footer-link-cell {
    margin-bottom: 40px;
    gap: 20px;
  }
}
@media (max-width: 685px) {
  .hero-section {
    height: 100vh;
  }
  .hero-inputs {
    flex-direction: column;
    gap: 20px;
  }
  .help-input,
  .register-btn {
    width: 100%;
  }
  .register-hero {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .register-hero {
    padding: 10px 0;
  }
  .hero-content-cell {
    width: 600px;
    position: absolute;
    top: 200px;
    left: 4%;
  }
  .own-dis,
  .own-head {
    text-align: start;
  }
  .own-input {
    width: 100%;
  }
  .own {
    width: 40rem;
  }
  .own-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
