* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  font-family: sans-serif;
  background-color: #f2f3f2;
}
/* COMBINED SECTION DESIGNS */
:root {
  --primary-color: #ffff;
  --tercially-color: #001f00;
  --semi-tercially: #386138;
  --hero-focus: #8bff8b;
  --btn-color-hero: #ff6638;
  --btn-hover-hero: #f16439;
  --products-color: #666666;
}
.hero-head,
.about-hero {
  color: var(--primary-color);
}
.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
}
/* NAVIGATION */
.application-nav {
  border: 1px solid red;

  padding: 5px 5px;
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
}
.application-lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.nav--link {
  list-style: none;
}
.links {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  padding: 5px;
}
.nav-design {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn-link-des {
  background-color: var(--btn-color-hero);
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 38px;
  border-radius: 11px;
}
.btn-link-des:hover {
  background-color: var(--btn-hover-hero);
}
.link-style {
  color: var(--tercially-color);
  /* transition: all 0.1s; */
}
.link-style:hover {
  color: var(--semi-tercially);
}
.logoo {
  width: 16rem;
  height: 4rem;
}
.contact {
  display: flex;
  align-items: center;
}

.fixed-nav {
  position: fixed;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 100;
}
.tryout {
  height: 100px;
}
/* SECTION--HEROSECTION */
.hero-section {
  width: 96%;
  margin: 0 auto;
  background-image: url(main-imgs/img-1.jpg);
  background-size: cover;
  height: 90vh;
  border-radius: 35px;
  /* margin-top: 5px; */
  padding: 10px;
  margin-bottom: 100px;
}
.hero-content-cell {
  width: 600px;
  position: absolute;
  top: 200px;
  left: 8%;
}

.hero-head {
  font-size: 54px;
  text-transform: capitalize;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}
.about-hero {
  font-size: 18px;
  margin-bottom: 55px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.register-hero {
  border-radius: 11px;
  background-color: #ffffff;
  padding: 20px;
}
.register-head {
  font-size: 26px;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 600;
  color: var(--tercially-color);
}
.register-works {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--semi-tercially);
  letter-spacing: 1px;
  display: flex;
}
.register-input,
.own-input,
.help-input {
  width: 326px;
  height: 45px;
  font-size: 1.2rem;
  border-radius: 11px;
  border: 0.5px solid #dddddd;
}
.register-input:focus {
  outline-color: var(--hero-focus);
}
.register-btn,
.own-btn {
  background-color: var(--btn-color-hero);
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 42px;
  border-radius: 11px;
}
.register-btn:hover {
  background-color: var(--btn-hover-hero);
}
.hero-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* owns */
.own {
  width: 70rem;
  margin: 0 auto;
  border-radius: 11px;
  background-color: #ffffff;
  text-align: center;
  background-color: #001f00;
  padding: 3rem;
  margin-bottom: 9rem;
}
.own-dis {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--primary-color);
  letter-spacing: 1px;
}
.own-head {
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 600;
  color: var(--primary-color);
}

/* owns */
/* OUR PRODUCTS */
/* prices-cell */
.major-price {
  font-size: 2.8rem;
  font-weight: 600;
}
.other-price {
  font-size: 1.8rem;
  font-weight: 600;
}
.prce-symbol {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: 600;
}
.pricelogo {
  font-size: 0.6rem;
  margin-top: 2px;
  font-weight: 600;
}
.products-head,
.products-discription,
.instalation-head,
.instalation-discription,
.warranty-head,
.dis,
.artificial-head,
.artificial-range {
  text-align: center;
}
.products-head,
.instalation-head,
.warranty-head,
.artificial-head {
  font-size: 3.5rem;
  text-transform: capitalize;
  color: var(--tercially-color);
  margin-bottom: 40px;
}
.products-discription,
.instalation-discription,
.dis,
.artificial-range {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--btn-color-hero);
  margin-bottom: 8rem;
  transition: transform 1s, opacity 1s;
}
.instalation-discription {
  font-size: 1.5rem;
}
.instalation-head {
  font-size: 4rem;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.installation-img {
  width: 100%;
  height: 700px;
  border-radius: 11px;
}
.installation {
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.center-img {
  display: flex;
  align-self: center;
  justify-self: center;
}
.product-name {
  font-size: 2.8rem;
  color: var(--btn-color-hero);
  letter-spacing: -0.3px;
  margin-bottom: 0.8rem;
}
.price {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005834af;
  color: var(--primary-color);
  padding: 10px;
  border-radius: 11px;
  margin-bottom: 4rem;
}
/* **************** */
.products {
  margin: 0 auto;
}
.product-cell {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 7rem;
  justify-content: space-around;
  padding: 0 40px;
  margin-bottom: 8rem;
}
.prodducts-ct-cell {
  margin-right: 2rem;
}

.product-img {
  width: 100%;
  height: 410px;
  border-radius: 11px;
  margin-top: 2rem;
}
.product-dis {
  font-size: 1.3rem;
  color: grey;
  font-weight: 500;
  margin-bottom: 40px;
}
.work-with {
  transition: transform 1s, opacity 1s;
}
.pro-dis-hide {
  opacity: 0;
  transform: translateY(8rem);
}
.pro-dis-hide2 {
  opacity: 0;
  transform: translate(-25rem);
}
.wei {
  font-size: 1.3rem;
  color: #808080;
  text-transform: capitalize;
}
.face {
  text-transform: capitalize;
  color: var(--products-color);
  font-weight: 600;
}
.products-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.product-icon {
  width: 45px;
  height: 45px;
  color: var(--products-color);
}
.lazy-img {
  filter: blur(20px);
}
/* PARTNERS */

.partners {
  width: 75rem;
  margin: 0 auto;
}
.partner-logo {
  width: 9.5rem;
  height: 2rem;
  margin-bottom: 20px;
}
.prtners-cell {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  align-items: center;
  justify-content: center;
}
.partners-discription {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #001f00;
}
/* ARTIFICIALS */
.artificial {
  width: 70rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.artificial-head {
  margin-bottom: 0.7rem;
  letter-spacing: 1.5px;
  font-size: 4rem;
}
.artificial-range {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.about {
  padding: 15px;
  border-radius: 11px;
  background-color: #c0e7c0;
}
.about-center {
  border: 1px solid var(--btn-color-hero);
  background-color: #fad4c9;
}
.ranges {
  max-width: 50rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 25px;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-left: 22rem;
}
.range {
  text-align: center;
  font-size: 1.4rem;
  border: 1px solid #ddd9d9;
  padding: 1.4rem;
  border-radius: 11px;
  cursor: pointer;
  transition: all 0.1s;
}
.range:hover {
  background-color: var(--btn-color-hero);
  color: var(--primary-color);
}
.about-head {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--tercially-color);
}
.about-price {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.about-dis {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--tercially-color);
}
.about-btn,
.help-btn {
  padding: 1.2rem 3rem;
  background-color: var(--tercially-color);
  color: var(--primary-color);
  border-radius: 11px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.feature-cell {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 220px;
}
.checkmark-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkmark {
  width: 30px;
  height: 30px;
  color: var(--tercially-color);
}
/* PROJECTS */
.projects {
  width: 100%;
  background-color: black;
  padding: 50px;
  overflow: hidden;
}
.projects-head {
  color: var(--primary-color);
  text-align: center;
}
.founder {
  color: var(--btn-color-hero);
}
.slider-container {
  position: relative;
  height: 800px;
  /* overflow: hidden; */
}
.slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
  margin-bottom: 30px;
  position: absolute;
  top: 20%;
  /* left: 8%; */
  overflow: hidden;
  padding: 40px;
  margin-left: -20px;
  transition: transform 1s;
}
.projects-img {
  width: 350px;
  height: 450px;
  border-radius: 30px;
}
.img-slide {
  background-color: white;
}
/* HELP */
/* HELP */
/* HELP */
/* HELP */
/* HELP */
/* HELP */
/* HELP */
/* HELP */
/* HELP */
/* HELP */
/* HELP */
/* HELP */
/* HELP */
.help {
  border: 1px solid red;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  background-color: #edeeed;
  margin: 100px 0;
}
.help-dis {
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  line-height: 1.5;
  margin-top: 10px;
}
.help-input {
  width: 250px;
}
.help-btn {
  padding: 10px 16px;
}
.help-head {
  font-size: 1.8rem;
}
/* FOOTER */
footer {
  border: 1px solid red;
  background-color: #001a0bf5;

  padding: 30px;
}
.footer-logo {
  text-align: center;
  margin-bottom: 20px;
}
.footer-link {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  padding: 5px;
  margin: 5px;
  color: var(--primary-color);
  transition: all 0.1s;
}
.footer-link:hover {
  color: var(--btn-color-hero);
}
.footer-link-cell {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  gap: 50px;
}
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p {
  color: var(--primary-color);
}
.footer-icon {
  color: var(--primary-color);
  width: 30px;
  height: 30px;
}
.footer-icons-cell {
  display: flex;
  align-items: center;
  gap: 40px;
}
/* CLIENTS */
.clients {
  border: 1px solid red;
  position: relative;
  width: 1010px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  background-color: var(--primary-color);
  border-radius: 18px;
  border: 1px solid #edeeed;
}
.clients-head {
  font-size: 4rem;
  text-transform: capitalize;
  color: var(--tercially-color);
  margin-bottom: 80px;
  margin-top: 30px;
  text-align: center;
}
.dot,
.dot-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff6638;
}
.active-dot {
  background-color: #001f00;
}
.slide-client {
  width: 1010px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  position: absolute;
  transition: transform 1s;
  padding: 20px;
  margin-right: 20px;
}
.about-client-own {
  display: flex;
  align-items: center;
  gap: 20px;
}
.client-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.client-position {
  color: var(--btn-color-hero);
  font-weight: 600;
}
.client-name {
  color: var(--tercially-color);
  margin-bottom: 15px;
}
.client-words {
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #8b8b8b;
  font-weight: 400;
}
.client-sample {
  width: 420px;
  height: 420px;
  border-radius: 11px;
}
.slide-btns {
  display: flex;
  justify-content: space-around;
}
.positon-client-slide {
  width: 100%;
  position: relative;
  border: 5px dotted blue;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: var(--tercially-color);
  font-family: inherit;
  color: var(--primary-color);
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}
.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}
.warranty-dis {
  background-image: url(main-imgs/img-5.jpg);
  height: 100vh;
  margin-bottom: 100px;
  background-size: cover;
}
/* SLIDE IMGS ONLY */
.slide-imgs-only {
  display: none;
  position: relative;
  width: 600px;
  margin: 0 auto;
  height: 100vh;
  border: 1px solid red;
  text-align: center;
}
.slide-imgs {
  width: 100%;
  height: 630px;
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 30px;
  border-radius: 60px;
}
/* ARTIFICIALS IN SMALL */
.artificial-in-small {
  display: none;
}
.feat {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 20px;
}
.feat p {
  font-size: 1.6rem;
}

.in-small-cell {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #c1f3c1;
  color: #494949;
  margin-top: 5px;
  border-radius: 11px;
}
.main-feat {
  border: 1px solid var(--btn-color-hero);
  background-color: #ffc4b2;
}
